* {
    box-sizing: border-box;
  }
  
  html,
  body {
    min-height: 100%;
  }
  
  body {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 360;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    
  }
  
  a {
    color: var(--blue);
    &:hover{
      color: var(--black);
    }
    & :visited {
      color: var(--blue);
    }
  }