<div class="S_ArticleModules" id="ArticlesModules">
  <div class="O_LeftSide">
    <div class="A_SmallLink"><-к разделу</div>
  </div>
  <div class="O_ArticleText" id="MainText">
    <div class="M_ArticleHeader">
      <div class="A_ArticleName">
      </div>
      <div class="A_ArticlePublicationInfo"></div>
    </div>
    <div class="A_space"></div>
  </div>
  
  <div class="O_RightSide">
    <div class="sticky" >
      <div id="chapters">
      </div>
      <div class="M_upButton">вверх</div>
    </div>
  </div>
</div>
