<div class="O_Header">
  <a class="A_Logo header white" href="/"></a>

  <menu class="M_NavBar">
    <div class="A_HeaderLink">
      <a class="white" href="index.html#Onboarding">с чего начать</a>
    </div>

    <div class="A_HeaderLink">
      <a class="white" href="articles.html">категории</a>
    </div>

    <div class="A_HeaderLink">
      <a class="white" href="#Feedback">предложить материал</a>
    </div>

    <div class="A_HeaderLink">
      <a class="white" href="search.html">проверить товар</a>
    </div>
  </menu>

  <div class="A_SocialBar header">
    <a href="#" class="inst white"></a>
    <a href="#" class="tg white"></a>
    <a href="#" class="vk white"></a>
  </div>
</div>
